{% extends 'pdf/base.html' %}
{% load static %}
{%block css%} 
<style>

    .blue{
        border: 1px solid #0795FA;
        background-color: #0795FA;
        color: white;
        text-align: center;
        padding-top: 2px;
    
    }

    .celda-blue{
        border: 1px solid #0795FA;
        text-align: center;
        padding-top: 2px;
    
    }

.green{
    border: 1px solid #66BB6A;
    background-color: #66BB6A;
    color: white;
    text-align: center;
    padding-top: 2px;

}

.celda-green{
    border: 1px solid #66BB6A;
    text-align: center;
    
    padding-top: 2px;
}

.blue-small{
    border: 1px solid #0795FA;
    background-color: #0795FA;
    color: white;
    text-align: center;
    padding-top: 2px;
    width: 60px;
}

.celda-blue-small{
    border: 1px solid #0795FA;
    text-align: center;
    padding-top: 2px;
    width: 60px;
}

.celda-blue-small2{
    border: 1px solid #0795FA;
    text-align: center;
    padding-top: 2px;
    width: 120px;
    height: 150px;
}



.card-img{
    border:2px solid #0795FA;

    width: 100px;
    
}


</style>




{% endblock %}

{% block cabecera %}

<h1 style="padding-top: 0px; margin-top: 0px;  font-weight: bold;text-align: center;">GERENCIA DE ADMINISTRACION TRIBUTARIA</h1>
<h1 style="padding-top: 0px; margin-top: 0px; font-weight: bold;text-align: center;">CARTA DE ACTUALIZACION DE VALOR {{cod_ticket}}-{{nro_notificacion}}-2024</h1>


{% endblock %}





{% block documento %}

<p style="text-align: right;" >Municipalidad {{distrito.name}}, {% now F %} </p>
<p>Estimado vecino(a)</p>
<p>SR(A). {{contribuyente|upper}}</p>
<p>Presente.-</p>

<p>De mi mayor consideración:</p>
<p>La Municipalidad Distrital de {{distrito.name}}, a través de la Gerencia de Administración Tributaria le hace llegar saludos
cordiales y a la vez comunicarle que se ha realizado un proceso de inspección de los predios del distrito, a fin de
verificar la fehaciencia de la información brindada por los contribuyentes en su Declaración Jurada de Autoavaluo,
es por ello que hacemos llegar a usted la Ficha de levantamiento de campo de(l/los) predio(s) a su nombre y
detallamos a continuación:
</p>

<h1>INFORMACIÓN CONSIGNADA EN LA DECLARACIÓN JURADA DE AUTOVALÚO</h1>
<h2> Caracteristicas</h2>
<table  >
        <tr >
        <td class ='green'>Long. Frente</td>
        <td  class ='celda-green'></td>
        <td class ='green'>Arancel</td>
        <td class ='celda-green'></td>
        <td class ='green'>Area Terreno</td>
        <td class ='celda-green'></td>
        <td class ='green' >Predio</td>
        <td class ='celda-green'></td>
      </tr>
</table>

<br>

<table  >
    <tr >
    <td class ='blue'>Nivel</td>
    <td class ='blue'>Material pred</td>
    <td class ='blue'>Estado conserva</td>
    <td class ='blue' >Clasificacion pred</td>
    <td class ='blue'>Año construcción</td>
    <td class ='blue'>C. Muro columna</td>
    <td class ='blue'>C.Techo</td>
    <td class ='blue'>C.Piso</td>
    <td class ='blue' >C.Puerta Ventana</td>
    <td class ='blue' >C.Revestimiento</td>
    <td class ='blue' >C.Baño</td>
    <td class ='blue' >C.Electricidad</td>
    <td class ='blue' >Area Construida</td>
  </tr>
  <tr >
    <td  class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
    <td class ='celda-blue'></td>
  </tr>
  
</table>


<br>
<h2> Instalaciones</h2>
<table>

    <tr>

        <td style="vertical-align: top;">

            <table  >
                <tr >
                    <td class ='blue-small'  >Cod. inst</td>
                    <td class ='blue-small'>Cod. tipo inst </td>
                    <td class ='blue-small'>Año const</td>
                    <td class ='blue-small' >Estado conserva</td>
                    <td class ='blue-small'>Dimensión</td>
                
                </tr>
           
            </table>

        </td>

        <td>

            <table  >
      
                <tr>
                  <td></td>
                </tr>
                
              </table>
          
        </td>
    </tr>
</table>

  


<h1>INFORMACIÓN RESULTANTE DE LA INSPECCIÓN PREDIAL</h1>
<h2> Caracteristicas</h2>
<table  >
        <tr >
        <td class ='green'>Long. Frente</td>
        <td  class ='celda-green'>{{caracteristicas.longitud_frente}}</td>
        <td class ='green'>Arancel</td>
        <td class ='celda-green'>{{caracteristicas.arancel}}</td>
        <td class ='green'>Area Terreno</td>
        <td class ='celda-green'>{{caracteristicas.area_terreno}}</td>
        <td class ='green' >Predio</td>
        <td class ='celda-green'></td>
      </tr>
</table>

<br>

<table  >
    <tr >
    <td class ='blue'>Nivel</td>
    <td class ='blue'>Material pred</td>
    <td class ='blue'>Estado conserva</td>
    <td class ='blue' >Clasificacion pred</td>
    <td class ='blue'>Año construcción</td>
    <td class ='blue'>C. Muro columna</td>
    <td class ='blue'>C.Techo</td>
    <td class ='blue'>C.Piso</td>
    <td class ='blue' >C.Puerta Ventana</td>
    <td class ='blue' >C.Revestimiento</td>
    <td class ='blue' >C.Baño</td>
    <td class ='blue' >C.Electricidad</td>
    <td class ='blue' >Area Construida</td>
  </tr>
  <tr >
    <td  class ='celda-blue'>{{caracteristicas.nivel}}</td>
    <td class ='celda-blue'>{{caracteristicas.material_pred}}</td>
    <td class ='celda-blue'>{{caracteristicas.estado_conserva}}</td>
    <td class ='celda-blue'>{{caracteristicas.clasificacion_pred}}</td>
    <td class ='celda-blue'>{{caracteristicas.anio_construccion}}</td>
    <td class ='celda-blue'>{{caracteristicas.categoria_muro_columna}}</td>
    <td class ='celda-blue'>{{caracteristicas.catergoria_techo}}</td>
    <td class ='celda-blue'>{{caracteristicas.catergoria_piso}}</td>
    <td class ='celda-blue'>{{caracteristicas.catergoria_puerta_ventana}}</td>
    <td class ='celda-blue'>{{caracteristicas.categoria_revestimiento}}</td>
    <td class ='celda-blue'>{{caracteristicas.catergoria_bano}}</td>
    <td class ='celda-blue'>{{caracteristicas.categoria_electrica}}</td>
    <td class ='celda-blue'>{{caracteristicas.area_construida}}</td>
  </tr>
  
</table>


<br>
<h2> Instalaciones</h2>
<table>

    <tr>

        <td style="vertical-align: top;">
            
            <table  >
                <tr >
                <td class ='blue-small'  >Cod. inst</td>
                <td class ='blue-small'>Cod. tipo inst </td>
                <td class ='blue-small'>Año const</td>
                <td class ='blue-small' >Estado conserva</td>
                <td class ='blue-small'>Dimensión</td>
                
              </tr>
              {% for i in instalaciones %}
              <tr>
                <td  class ='celda-blue-small'>{{i.cod_inst}}</td>
                <td class ='celda-blue-small'>{{i.cod_tipo_inst}}</td>
                <td class ='celda-blue-small'>{{i.anio_construccion}}</td>
                <td class ='celda-blue-small'>{{i.estado_conserva}}</td>
                <td class ='celda-blue-small'>{{i.dimension}}</td>
                
              </tr>
              {% endfor %}
            </table>

        </td>

        <td>
            {% if fotos.count > 0 %}
            <table  >
      
                <tr>
                   
                    {% for f in fotos %}
                    <td  class ='celda-blue-small2'>
                        <img class="img" src="{{ f.foto.path }}" >
                    </td>
                    {% endfor %}  
                    
                  
                </tr>
                
              </table>
              {% endif %}
        </td>
    </tr>
</table>

  
<br>
<br>

<p>Si encontrara divergencias en lo que obra en su Declaración Jurada de Autoavaluo con lo señalado en la Ficha
adjunta sírvase cumplir con modificar su Declaración acercándose a la Municipalidad y llenar los formularios HR y
PU que serán proporcionados en {{texto}}
</p>
    
<p>Tenga en cuenta que omitir información en la declaración jurada del Impuesto Predial constituye una infracción
tipificada en el Código Tributario Art 176 Numeral 4 “Presentar otras declaraciones o comunicaciones en forma
incompleta o no conformes con la realidad” siendo la sanción el pago del 30% de la UIT(S/.4950.00) que equivale
a S/.1,485.00.
</p>

<p> Estimado vecino, tributar es el camino al desarrollo de nuestro distrito, del mismo modo el pago de los arbitrios
municipales (limpieza pública, parques y jardines y serenazgo) garantizamos la prestación eficiente y eficaz de
estos servicios como también la seguridad ciudadana del distrito; mejorando así nuestra calidad de vida.
</p>

<p>Atentamente</p>
            

{% endblock %}


