{% extends 'pdf/base.html' %}
{% load static %}
{%block css%} 
<style>
    @page {
        margin: 2cm; /* Establecer los márgenes superiores, derechos, inferiores e izquierdos a 2cm */
    }
    .head{
        border: 1px solid #000000;
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 2px;
    
    }

    .celda{
        border: 1px solid #000000;
        padding: 2px;
    
    }

.green{
    border: 1px solid #66BB6A;
    background-color: #66BB6A;
    color: white;
    text-align: center;
    padding-top: 2px;

}

.celda-green{
    border: 1px solid #66BB6A;
    text-align: center;
    
    padding-top: 2px;
}

.blue-small{
    border: 1px solid #0795FA;
    background-color: #0795FA;
    color: white;
    text-align: center;
    padding-top: 2px;
    width: 60px;
}

.celda-blue-small{
    border: 1px solid #0795FA;
    text-align: center;
    padding-top: 2px;
    width: 60px;
}

.celda-blue-small2{
    border: 1px solid #0795FA;
    text-align: center;
    padding-top: 2px;
    width: 120px;
    height: 150px;
}



.card-img{
    border:2px solid #0795FA;

    width: 100px;
    
}


</style>




{% endblock %}

{% block cabecera %}

<h1 style="padding-top: 0px; margin-top: 0px;  font-weight: bold;text-align: center;">GERENCIA DE ADMINISTRACION TRIBUTARIA</h1>
<h1 style="padding-top: 0px; margin-top: 0px; font-weight: bold;text-align: center;">CARTA DE INVITACION {{cod_ticket}}-{{nro_notificacion}}-{% now "Y" %}</h1>


{% endblock %}





{% block documento %}

<p style="text-align: right;" >Municipalidad {{distrito.name}}, {% now F %} </p>
<p>Estimado vecino(a)</p>
<p>SR(A). {{contribuyente|upper}}</p>
<p>Presente.-</p>

<p>{{texto}}</p>


<table  >
    <tr >
    <td class ='head'>Datos del Predio</td>
    <td class ='head'>Fotografía del Predio</td>
 
    </tr>
    
    <tr>

    <td class="celda">

        <b>Tipo de Predio:</b> {{ land.cod_tipo_predio.desc_tipo_predio}}
        <br>
        <b>Ubicación del Predio:</b>
        <br>

        {{ ubicacion.cod_tipo_uu}}  {{ ubicacion.nom_uu}} Mz.{{ubicacion.mzn_urb}} Lote {{ubicacion.lot_urb}}
       
        <br>
        <br>
        <b>Características del Predio:</b>
        <br>
        Material Predominante:{{ caracteristicas.material_pred}}
        <br>
        Estado de Conservación: {{ caracteristicas.estado_conserva}}
        <br>
        Año de Construcción: {{ caracteristicas.anio_construccion}}
  
         
    </td>
    <td class="celda">

        {% for f in fotos %}
    
            <img class="img" src="{{ f.foto.path }}" >
      
        {% endfor %} 
        <br>
        Fecha: {% now F %}
    </td>

  </tr>
  
</table>


    
<p>Es importante tener en cuenta que el incumplimiento de presentar las declaraciones que contengan la determinación de la deuda tributaria dentro de los plazos establecidos, así como presentar otras declaraciones o comunicaciones de manera incompleta o no conformes con la realidad, constituyen faltas según lo establecido en el Artículo 176, Numerales 1 y 4 del Código Tributario. Las sanciones por estas faltas pueden variar desde el 30% hasta el 50% de la UIT.
</p>

<p> Estimado vecino, tributar es el camino al desarrollo de nuestro distrito, del mismo modo el pago de los arbitrios
municipales (limpieza pública, parques y jardines y serenazgo) garantizamos la prestación eficiente y eficaz de
estos servicios como también la seguridad ciudadana del distrito; mejorando así nuestra calidad de vida.
</p>
<p>
Agradecemos su atención y colaboración en este importante asunto. Si necesita asistencia adicional o tiene alguna pregunta, no dude en comunicarse con nosotros.
</p>
<p>Atentamente</p>
    
<br>

<p>
    Nombre: {{ usuario }}
    <br>
    Cargo: {{rol}}
</p>





{% endblock %}


