{% extends 'pdf/base.html' %}
{% load static %}
{%block css%} 
<style>
    @page {
        margin: 2cm; /* Establecer los márgenes superiores, derechos, inferiores e izquierdos a 2cm */
       
    }
    .head{
        border: 1px solid #000000;
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 2px;
    
    }

    .celda{
        border: 1px solid #000000;
        padding: 2px;
    
    }

.green{
    border: 1px solid #66BB6A;
    background-color: #66BB6A;
    color: white;
    text-align: center;
    padding-top: 2px;

}

.celda-green{
    border: 1px solid #66BB6A;
    text-align: center;
    
    padding-top: 2px;
}

.blue-small{
    border: 1px solid #0795FA;
    background-color: #0795FA;
    color: white;
    text-align: center;
    padding-top: 2px;
    width: 60px;
}

.celda-blue-small{
    border: 1px solid #0795FA;
    text-align: center;
    padding-top: 2px;
    width: 60px;
}

.celda-blue-small2{
    border: 1px solid #0795FA;
    text-align: center;
    padding-top: 2px;
    width: 120px;
    height: 150px;
}



.card-img{
    border:2px solid #BFE1FF !important;

    width: 100px;
    
}

.celda-blue{
    border: 1px solid #000000;
       
        padding-top: 2px;
    
    }

    .blue{
        border: 1px solid #000000;
        background-color: #BFE1FF !important;
        color: black;
        text-align: center;
        padding-top: 2px;
    
    }

</style>




{% endblock %}

{% block cabecera %}


<table  >
 
    
    <tr>

    <td class="celda">
        {% if distrito.logo %}
        <img class="logo" src="{{ distrito.logo.path }}" >
        {% endif %}
    </td>
   
    <td  style="width:80%;padding: 5px;   text-align: center; vertical-align: middle; border: 1px solid #000000;">
           
            <b  style="font-size:14px;">GERENCIA DE ADMINISTRACION TRIBUTARIA </b>
            <br>
            <b style="font-size:14px;">{{distrito.municipal_name}}</b>
            <br> 
            <b style="font-size:6px;">(Decreto Supremo Nº 156-2004-EF, TUO de la Ley de Tributación Municipal)</b>

    </td>
   
       
  </tr>
  
</table>

<br>
<h1 style="padding-top: 0px; margin-top: 0px; font-weight: bold;text-align: center;">CARTA DE INVITACION {{cod_ticket}}-{{nro_notificacion}}-{% now "Y" %}</h1>


{% endblock %}





{% block documento %}

<p style="text-align: right;" >{{distrito.municipal_name}}, {% now F %} </p>
<p>Estimado vecino(a)</p>
<p>SR(A). {{contribuyente|upper}}</p>
<p>Presente.-</p>
<p style=" text-align: justify;">Nos dirigimos a usted en representación de la Municipalidad Distrital de TARAPOTO, a través de la Gerencia de Administración Tributaria ,con el propósito de recordarle la importancia de cumplir con sus obligaciones tributarias. Hemos observado que hasta la fecha no ha presentado la Declaración Jurada correspondiente a su propiedad. Es fundamental recordarle la importancia de cumplir con esta obligación tributaria, así como con el pago puntual del impuesto predial y los arbitrios municipales.</p>

<table  >
    <tr >
    <td class ='blue'>Datos del Predio</td>
    <td class ='blue'>Fotografía del Predio</td>
 
    </tr>
    
    <tr>

    <td class="celda-blue">

        <b>Tipo de Predio:</b> {{ land.cod_tipo_predio.name}}
        <br>
        <b>Ubicación del Predio:</b>
        <br>

        {{ ubicacion.cod_tipo_uu}}  {{ ubicacion.nom_uu}} Mz.{{ubicacion.mzn_urb}} Lote {{ubicacion.lot_urb}}
       
        <br>
        <br>
        <b>Características del Predio:</b>
        <br>
        Material Predominante:{{ caracteristicas.material_pred}}
        <br>
        Estado de Conservación: {{ caracteristicas.estado_conserva}}
        <br>
        Año de Construcción: {{ caracteristicas.anio_construccion}}
  
         
    </td>
    <td class="celda-blue">

        {% for f in fotos %}
    
            <img class="img" src="{{ f.foto.path }}" >
            
        {% endfor %} 
        <br>
        Fecha: {{ ticket.fec_ultima_actualizacion |date:'d-m-Y' }}
    </td>

  </tr>
  
</table>


    


<p style=" text-align: justify;">{{texto}}</p>

<p style=" text-align: justify;">Agradecemos su atención y colaboración en este importante asunto. Si necesita asistencia adicional o tiene alguna pregunta, no dude en comunicarse con nosotros.</p>
<p>Atentamente</p>
    
<br>

<p>
    Nombre: {{ usuario }}
    <br>
    Cargo: {{rol}}
</p>





{% endblock %}


