{% extends 'pdf/base.html' %}
{% load static %}
{%block css%} 
<style>

    .blue{
        border: 1px solid #0795FA;
        background-color: #0795FA;
        color: white;
        text-align: center;
        padding-top: 2px;
    
    }

    .celda-blue{
        border: 1px solid #0795FA;
        text-align: center;
        padding-top: 2px;
    
    }

.green{
    border: 1px solid #66BB6A;
    background-color: #66BB6A;
    color: white;
    text-align: center;
    padding-top: 2px;

}

.celda-green{
    border: 1px solid #66BB6A;
    text-align: center;
    
    padding-top: 2px;
}

.blue-small{
    border: 1px solid #0795FA;
    background-color: #0795FA;
    color: white;
    text-align: center;
    padding-top: 2px;
    width: 60px;
}

.celda-blue-small{
    border: 1px solid #0795FA;
    text-align: center;
    padding-top: 2px;
    width: 60px;
}

.celda-blue-small2{
    border: 1px solid #0795FA;
    text-align: center;
    padding-top: 2px;
    width: 120px;
    height: 150px;
}



.card-img{
    border:2px solid #0795FA;

    width: 100px;
    
}


</style>




{% endblock %}

{% block cabecera %}

<h1 style="padding-top: 0px; margin-top: 0px;  font-weight: bold;text-align: center;">GERENCIA DE ADMINISTRACION TRIBUTARIA</h1>
<h1 style="padding-top: 0px; margin-top: 0px; font-weight: bold;text-align: center;">CARTA DE ACTUALIZACION DE VALOR {{cod_ticket}}-{{nro_notificacion}}-{% now "Y" %}</h1>


{% endblock %}





{% block documento %}

<p style="text-align: right;" >{{data_registro_titularidad.municipal_name}}, {% now F %} </p>
<p>Estimado vecino(a)</p>
<p>SR(A). {{contribuyente|upper}}</p>
<p>Presente.-</p>

<p>De mi mayor consideración:</p>
<p>Nos dirigimos a usted en representación de  {{data_registro_titularidad.municipal_name}}, con el propósito de recordarle la importancia de cumplir con sus obligaciones tributarias. Puesto que hemos observado que la Declaración Jurada de Autoavalúo correspondiente a su propiedad no guarda relación con la Ficha de levantamiento de campo del predio registrado a su nombre y que detallamos a continuación:
</p>

<h1>INFORMACIÓN CONSIGNADA EN LA DECLARACIÓN JURADA DE AUTOVALÚO</h1>
<h2>DATOS DEL PREDIO</h2>
<table  >
        <tr >
        <td class ='green'>Tipo de Predio</td>
       
        <td class ='green'>Numero de Partida</td>
      
        <td class ='green'>Clase de uso</td>
       
        <td class ='green' >Sub clase de uso</td>
        

        <td class ='green' >Uso del predio</td>
       
        <td class ='green' >Area Terreno</td>
   

        <td class ='green' >Area común terreno</td>
       
        <td class ='green' >Cant. de hab. o aforo</td>
       

      </tr>

      <tr >
        <td  class ='celda-green'>{{data_registro_titularidad.predio_padron.tipo_predio_nombre }} </td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_padron.predio_contribuyente.0.par_registral }}</td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_padron.predio_contribuyente.0.clase_uso_nombre }}</td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_padron.predio_contribuyente.0.subclase_uso_nombre }}</td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_padron.predio_contribuyente.0.tip_uso_predio_nombre }}</td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_padron.predio_contribuyente.0.area_terreno }}</td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_padron.predio_contribuyente.0.area_tot_cons_comun }}</td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_padron.predio_contribuyente.0.cantidad_habitantes }}</td>

      </tr>
</table>
<br>
<h2>DATOS DE LAS EDIFICACIONES</h2>
<table  >
    <tr >
    <td class ='blue'>Tipo de Nivel</td>
    <td class ='blue'>Año-mes de Contruccion</td>
    <td class ='blue'>N° Piso</td>
    <td class ='blue'>Material predominante</td>
    <td class ='blue'>Estado de conservación</td>
    <td class ='blue'>Muros y columnas</td>
    <td class ='blue'>Techos</td>
    <td class ='blue'>Piso</td>
    <td class ='blue' >Puertas Ventanas</td>
    <td class ='blue' >Revestimiento</td>
    <td class ='blue' >Baños</td>
    <td class ='blue' >Instal. Elec. Sant.</td>
    <td class ='blue' >Area Construida</td>
  </tr>
  

 {% if data_registro_titularidad.predio_padron.predio_contribuyente.0.niveles_construccion.count == 0 %}

    <tr >
    <td class ='blue' colspan="13">Sin niveles de construcción declarados</td>

    </tr>

  {% else %}
  {% for n in data_registro_titularidad.predio_padron.predio_contribuyente.0.niveles_construccion %}
  <tr >
    <td  class ='celda-blue'>{{n.tip_nivel_nombre}}</td>
    <td class ='celda-blue'>{{n.anio_construccion }}-{{n.mes_construccion }}</td>
    <td class ='celda-blue'>{{n.num_piso}}</td>
    <td class ='celda-blue'>{{n.tip_material_nombre}}</td>
    <td class ='celda-blue'>{{n.est_conservacion_nombre}}</td>
    <td class ='celda-blue'>{{n.categoria_muro_columna}}</td>
    <td class ='celda-blue'>{{n.categoria_techo}}</td>
    <td class ='celda-blue'>{{n.categoria_piso}}</td>
    <td class ='celda-blue'>{{n.categoria_puerta_ventana}}</td>
    <td class ='celda-blue'>{{n.categoria_revestimiento}}</td>
    <td class ='celda-blue'>{{n.categoria_bano}}</td>
    <td class ='celda-blue'>{{n.categoria_inst_electrica_sanita}}</td>
    <td class ='celda-blue'>{{n.area_construida}}</td>

  </tr>
  {% endfor %}
  
  {% endif %}
</table>


<br>
<h2>DATOS DE OTRAS INSTALACIONES</h2>
<table>

    <tr>

        <td style="vertical-align: top;">

            <table  >
                
                <tr >
                    <td class ='blue-small' >Numero piso</td>
                    <td class ='blue-small'>Tipo de obra </td>
                    <td class ='blue-small'>Tipo de material</td>
                    <td class ='blue-small' >Estado conserva</td>
                    <td class ='blue-small' >Año y mes de Obra</td>
                    <td class ='blue-small' >Categoria</td>
                    <td class ='blue-small' >Cantidad</td>
                    <td class ='blue-small' >Metro Redondeado</td>
                    <td class ='blue-small' >Total metrado</td>
                </tr>

                {% if data_registro_titularidad.predio_padron.predio_contribuyente.0.obras_complementarias.count == 0 %}

                <tr >
                <td class ='blue' colspan="9">Sin niveles de construcción declarados</td>
            
                </tr>

                {% else %}
                {% for i in data_registro_titularidad.predio_padron.predio_contribuyente.0.obras_complementarias %}
                <tr >
                    <td class ='celda-blue'>{{i.num_piso}}</td>
                    <td class ='celda-blue'>{{i.tip_obra_complementaria_nombre}}</td>
                    <td class ='celda-blue'>{{i.tip_material_nombre}}</td>
                    <td class ='celda-blue'>{{i.est_conservacion_nombre}}</td>
                    <td class ='celda-blue'>{{i.anio_construccion}} - {{i.mes_construccion}}</td>
                    <td class ='celda-blue'>{{i.categoria}}</td>
                    <td class ='celda-blue'>{{i.cantidad}}</td>
                    <td class ='celda-blue'>{{i.metro_redondeado}}</td>
                    <td class ='celda-blue'>{{i.total_metrado}}</td>
            
                
                  </tr>
                  {% endfor %}  
                  {% endif %}
            </table>

        </td>

       
    </tr>
</table>

  


<h1>INFORMACIÓN RESULTANTE DE LA INSPECCIÓN PREDIAL</h1>
<h2>DATOS DEL PREDIO</h2>

<table >
    <tr >
        <td class ='green'>Tipo de Predio</td>
       
        <td class ='green'>Numero de Partida</td>
      
        <td class ='green'>Clase de uso</td>
       
        <td class ='green' >Sub clase de uso</td>
        

        <td class ='green' >Uso del predio</td>
       
        <td class ='green' >Area Terreno</td>
   

        <td class ='green' >Area común terreno</td>
       
        <td class ='green' >Cant. de hab. o aforo</td>
       

      </tr>

      <tr >
        <td  class ='celda-green'>{{data_registro_titularidad.predio_inspeccion.tipo_predio_nombre }} </td>
        <td class ='celda-green'></td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_inspeccion.clase_uso_nombre }}</td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_inspeccion.subclase_uso_nombre }}</td>
        <td class ='celda-green'>{{data_registro_titularidad.predio_inspeccion.tipo_uso_nombre }}</td>
        <td class ='celda-green'></td>
        <td class ='celda-green'></td>
        <td class ='celda-green'></td>

      </tr>




</table>



<br>
<h2>DATOS DE LAS EDIFICACIONES</h2>
<table  >

    <tr >
        <td class ='blue'>Tipo de Nivel</td>
        <td class ='blue'>Año-mes de Contruccion</td>
        <td class ='blue'>N° Piso</td>
        <td class ='blue'>Material predominante</td>
        <td class ='blue'>Estado de conservación</td>
        <td class ='blue'>Muros y columnas</td>
        <td class ='blue'>Techos</td>
        <td class ='blue'>Piso</td>
        <td class ='blue' >Puertas Ventanas</td>
        <td class ='blue' >Revestimiento</td>
        <td class ='blue' >Baños</td>
        <td class ='blue' >Instal. Elec. Sant.</td>
        <td class ='blue' >Area Construida</td>
      </tr>


      <tr >
        <td  class ='celda-blue'>PISO</td>
        <td class ='celda-blue'></td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.piso}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.material_pred_nombre}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.estado_conserva_nombre}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.categoria_muro_columna}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.catergoria_techo}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.catergoria_piso}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.catergoria_puerta_ventana}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.categoria_revestimiento}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.catergoria_bano}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.categoria_electrica}}</td>
        <td class ='celda-blue'>{{data_registro_titularidad.caracteristicas.area_construida}}</td>
      </tr>
    
  
</table>


<br>
<h2>DATOS DE OTRAS INSTALACIONES</h2>
<table>

    <tr>

        <td style="vertical-align: top;">
            <table  >
            <tr >
                <td class ='blue-small'  >Numero piso</td>
                <td class ='blue-small'>Tipo de obra </td>
                <td class ='blue-small'>Tipo de material</td>
                <td class ='blue-small' >Estado conserva</td>
                <td class ='blue-small' >Año y mes de Obra</td>
                <td class ='blue-small' >Categoria</td>
                <td class ='blue-small' >Cantidad</td>
                <td class ='blue-small' >Metro Redondeado</td>
                <td class ='blue-small' >Total metrado</td>
            </tr>

            {% if data_registro_titularidad.instalaciones.count == 0 %}
            <tr >
              <td class ='celda-blue' span="9">Sin registros</td>

            </tr>

            {% else %}

              {% for i in data_registro_titularidad.instalaciones %}
              <tr >
                <td class ='celda-blue'>{{i.num_piso}}</td>
                <td class ='celda-blue'>{{i.tip_obra_complementaria_nombre}}</td>
                <td class ='celda-blue'>{{i.tip_material_nombre}}</td>
                <td class ='celda-blue'>{{i.est_conservacion_nombre}}</td>
                <td class ='celda-blue'>{{i.anio_construccion}} - {{i.mes_construccion}}</td>
                <td class ='celda-blue'>{{i.categoria}}</td>
                <td class ='celda-blue'>{{i.cantidad}}</td>
                <td class ='celda-blue'>{{i.metro_redondeado}}</td>
                <td class ='celda-blue'>{{i.total_metrado}}</td>
            
              </tr>

              {% endfor %}  
              {% endif %}
            </table>

        </td>

        <td>
            {% if ubicacion.fotos.count > 0 %}
            <table  >
      
                <tr>
                   
                    {% for f in ubicacion.fotos %}
                    <td  class ='celda-blue-small2'>
                        <img class="img" src="{{ f.foto.path }}" >
                    </td>
                    {% endfor %}  
                    
                  
                </tr>
                
              </table>
              {% endif %}
        </td>
    </tr>
</table>

{% if fotos2.count > 0 %}
<br>
<table  >

    <tr>
       
        {% for f in fotos2 %}
        <td  class ='celda-blue-small2'>
            <img class="img" src="{{ f.foto.path }}" >
        </td>
        {% endfor %}  
        
      
    </tr>
    
  </table>
  {% endif %}

  
<br>
<br>

<p>Es fundamental recordarle la importancia de cumplir con esta obligación tributaria, así como con el pago puntual del impuesto predial y los arbitrios municipales, por ello sírvase cumplir con modificar su Declaración acercándose a la Municipalidad y llenar los formularios HR y PU que serán proporcionados en {{texto}}
</p>
    
<p>Tenga en cuenta que el incumplimiento de presentar las declaraciones que contengan la determinación de la deuda tributaria dentro de los plazos establecidos, así como presentar otras declaraciones o comunicaciones de manera incompleta o no conformes con la realidad, 
    constituyen faltas según lo establecido en el Artículo 176, Numerales 1 y 4 del Código Tributario. 
    Las sanciones por estas faltas pueden variar desde el 30% hasta el 50% de la UIT. Para lo cual tiene 5 días hábiles para apersonase a ………………………….. o comunicarse ……………………………….. o ……… bajo apercibimiento de iniciar el procedimiento de fiscalización y sanción.
</p>

<p> Estimado vecino, tributar es el camino al desarrollo de nuestro distrito, del mismo modo el pago de los arbitrios
municipales (limpieza pública, parques y jardines y serenazgo) garantizamos la prestación eficiente y eficaz de
estos servicios como también la seguridad ciudadana del distrito; mejorando así nuestra calidad de vida.
</p>

<p>Atentamente</p>
            

{% endblock %}


