[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
pandas = "*"
simpledbf = "*"

[packages]
django = "<4"
pillow = "*"
django-environ = "*"
dj-database-url = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "<22"
djangorestframework-camel-case = "*"
markdown = "*"
drf-yasg = "*"
djangorestframework-jwt = "*"
django-crum = "*"
openpyxl = "*"
django-import-export = "*"
requests = "*"
django-admin-interface = "*"
django-rest-captcha = "*"
django-simple-captcha = "*"
mssql-django = "*"
wfastcgi = "*"
django-extensions = "*"
django-dramatiq = "*"
dramatiq = {extras = ["watch", "redis"]}
redis = "*"
gunicorn = "*"
djangorestframework-api-key = "==2.*"

[requires]
python_version = "3"
